
.main_profile{
  margin-left: 60px;
  float: left;
}

.main_profile #main_img {
  border-radius: 50%;
  float: left;
}

.main_profile #main_info {
/*   border: 1px solid black;
*/ float: left;
   margin-left:60px;
   width: 50%;
}

.block{
	max-width: 33%;
	float: left;
	margin-top: 40px;
}

.single_profile{
  margin-left: 60px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.single_profile #single_img{
  border-radius: 50%;
  float: left;
  width:100px;
}

.single_profile #single_info{
   float: left;
   margin-left:40px;
}
