
.main_profile{
  margin-left: 60px;
  float: left;
}

.main_profile #main_img {
  border-radius: 50%;
  float: left;
}

.main_profile #main_info {
   float: left;
   margin-left:60px;
   width: 50%;
}

.single_profile{
  float: left;
  width: 33%;
  /*padding: 10px;*/
  margin-top: 20px;
  margin-bottom: 20px;
/*  border: 1px solid red; */
}

.block{
  margin-left: 10px;
}

.block:after{
    display: table;
    clear: both;
}

.single_profile #single_img{
  border-radius: 50%;
  float: left;
  width:100px;
  height: 100px;
}

.single_profile #single_info{
   float: left;
   margin-left:40px;
}

h1{
  margin-top: 40px;
  margin-left: 5%;
}

h3{
  margin: 10px;
  margin-left: 0px;
}

p{
  margin: 0px;
  padding: 0px;
}
.clear{
  clear:both;
}

